name: Publish BrayanOFC-Li Baileys-MB

on:
  push:
    tags:
      - 'v*'

permissions: write-all

jobs:
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'

      - name: Enable Corepack and Yarn
        run: |
          corepack enable
          corepack prepare yarn@4.x --activate

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Publish in NPM (@brayanofc-li scope)
        run: |
          npx json -I -f package.json -e "this.name='@brayanofc-li/baileys-md'"
          npm publish --access public --//registry.npmjs.org/:_authToken=$NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create GitHub Release
        uses: meeDamian/github-release@2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ github.ref }}
          commitish: ${{ github.sha }}
          name: ${{ github.ref_name }}
          body: "Publicación automática de @brayanofc-li/baileys-md"
          draft: false
          prerelease: false